body {
	margin: 0;
	background-color: #2A2F32;
}

h3 {
	font-size: 14px;
	height: 18px;
	margin: 2px 0 -20px 4px;
	padding: 0 6px 0 4px;
	position: relative;
	display: inline-block;
	background-color: #2A2F32;
}

canvas {
	background-color: gray;
}

#screen {
	margin: 40px;
}

section {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-pack: center;
}

#top {
	-webkit-box-orient: horizontal;
	width: 100%;
	height: 100%;
}

#main {
	-webkit-box-orient: vertical;
	min-width: 242px;
	max-width: 410px;
}

ul, ol, #registers {
	font-family: 'Lucida Sans Typewriter', 'Monaco', 'Andale Mono', monospace;
	font-size: 13px;
	color: #DADDE1;
	padding: 10px;
}

#devtools, #registers {
	-webkit-box-orient: vertical;
}

#console {
	overflow-y: auto;
	white-space: pre-wrap;
	margin: 0;
	-webkit-box-flex: 1;
	max-height: 100%;
	border-right: 1px solid #DADDE1;
}

#memory {
	white-space: nowrap;
	margin: 0;
	-webkit-box-flex: 1;
	max-height: 100%;
	border-left: 1px solid #DADDE1;
}

#gprs {
	text-align: center;
}

#psr {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}

#psr > * {
	display: block;
	padding: 2px 10px;
}

#psr > *:last-child {
	-webkit-box-flex: 1;
	text-align: right;
}

#mode {
	display: inline-block;
	width: 80px;
}

#registers ol {
	border: 1px solid #DADDE1;
	padding: 8px;
}

#registers ol > li {
	margin: 3px;
	line-height: 16px;
}

#gprs > li {
	display: inline;
}

#registers {
	-webkit-box-flex: 1;
}

#console li:before {
	content: "-";
	color: #5C616F;
	padding-right: 1em;
}

#console li {
	list-style-type: none;
}

.disabled {
	color: #5C616F;
}
